* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    overflow: hidden;
    background-color: black;
}
  
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  #controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 450px;
    height: 350px;
    background: rgba(0,0,0,0.5);
    color: aqua;
    font-family: monospace;
    padding: 10px;
    box-sizing: border-box;
  }

  #controls button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #skybox-title {
    font-size: larger;
    margin-bottom: 10px;
  }

  #skybox-list {
    max-height: 85%;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  #skybox-list div:nth-child(even) {
    background: rgba(0,0,0,0.1)
  }

  #skybox-list div:hover {
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
  }

  #skybox-list div.active {
    color: greenyellow;
    background: rgba(0,0,0,0.3);
  }

  #code {
    background: rgba(0,0,0,0.1);
    border: 1px solid gray;
    padding: 10px;
    white-space: pre;
    cursor: pointer;
    overflow: auto;
  }

  summary:hover {
    cursor: pointer;
  }

  a {
    color:fuchsia;
    text-decoration: none;
  }

  @media only screen and (max-width: 450px) {
    #controls {
      width: 100vw;
      height: 20vh;
    }
    /* #code { display: none; } */
  }